name "dot"
bin "dot"
about "gw31415/dotfiles management tool"
author "gw31415"
license "Apache-2.0"

flag "-u --update" "With updating the flake.lock" global=false
flag "--darwin" "Switch also with nix-darwin (not only home-manager)" global=false
flag "--usage" "Print usage" global=false

cmd "sh" help="Enter $SHELL in the home-manager dir"

cmd "gc" help="Nix garbage-collection" {
	flag "--aggressive" "Aggressive garbage collection"
}
