[[plugins]]
repo = "iamcco/markdown-preview.nvim"
on_ft = ["markdown", "pandoc.markdown", "rmd"]
extAttrs.installerBuild = 'sh -c "cd app && npx --yes yarn install"'

[[plugins]]
repo = "ravitemer/mcphub.nvim"
extAttrs.installerBuild = "npm install -g mcp-hub@latest"
lua_source = '''
vim.system({ 'sh', '-c', [[
	TARGET_PATH="$HOME/.config/mcphub/servers.json"
	mkdir -p "$(dirname "$TARGET_PATH")"
	if [ ! -f "$TARGET_PATH" ]; then
	  echo '{"mcpServers": {}}' > "$TARGET_PATH"
	fi
]] }, {}):wait()
require 'mcphub'.setup()
'''

[[plugins]]
repo = "yetone/avante.nvim"
extAttrs.installerBuild = "make"
depends = "mcphub.nvim"
on_cmd = [
	"AvanteChat",
	"AvanteChatNew",
	"AvanteHistory",
	"AvanteClear",
	"AvanteEdit",
	"AvanteFocus",
	"AvanteRefresh",
	"AvanteStop",
	"AvanteSwitchProvider",
	"AvanteShowRepoMap",
	"AvanteToggle",
	"AvanteModels",
	"AvanteSwitchSelectorProvider",
]
lua_source = '''
require 'avante_lib'.load()
require 'avante'.setup {
	provider = 'openai',
	providers = {
		copilot = {
			model = 'claude-3.7-sonnet',
		},
		openai = {
			endpoint = 'https://api.openai.com/v1',
			model = 'gpt-4o',
			timeout = 30000,
			extra_request_body = {
				max_completion_tokens = 8192,
				temperature = 0,
			},
		},
		claude = {
			endpoint = "https://api.anthropic.com",
			model = "claude-sonnet-4-20250514",
			timeout = 30000,
			extra_request_body = {
				temperature = 0.75,
				max_tokens = 20480,
			},
		},
	},
	system_prompt = function()
		local hub = require 'mcphub'.get_hub_instance()
		return hub:get_active_servers_prompt()
	end,
	custom_tools = function()
		return {
			require 'mcphub.extensions.avante'.mcp_tool(),
		}
	end,
}
'''

[[plugins]]
repo = "saghen/blink.cmp"
depends = ["blink-copilot", "blink-cmp-git"]
on_event = ["InsertEnter", "CmdlineEnter", "LspAttach"]
extAttrs.installerBuild = "nix run .#build-plugin"
lua_source = '''
require 'blink.cmp'.setup {
	sources = {
		default = { 'snippets', 'lsp', 'copilot', 'path', 'buffer' },
		per_filetype = {
			markdown = { 'snippets', 'lsp', 'copilot', 'path' },
			txt = { 'snippets', 'lsp', 'copilot', 'path' },
			typst = { 'snippets', 'lsp', 'copilot', 'path' },
			tex = { 'snippets', 'lsp', 'copilot', 'path' },
			lua = { inherit_defaults = true, 'lazydev' },
			gitcommit = { inherit_defaults = true, 'git' },
		},
		providers = {
			copilot = {
				name = 'copilot',
				module = 'blink-copilot',
				score_offset = -100,
				async = true,
			},
			lazydev = {
				name = 'LazyDev',
				module = 'lazydev.integrations.blink',
				score_offset = 100,
			},
			git = {
				module = 'blink-cmp-git',
				name = 'Git',
			},
		},
	},
	keymap = { preset = 'super-tab' },
	completion = {
		documentation = { auto_show = true, auto_show_delay_ms = 100 },
		menu = {
			draw = {
				components = {
					label = {
						text = function(ctx)
							return require 'colorful-menu'.blink_components_text(ctx)
						end,
						highlight = function(ctx)
							return require 'colorful-menu'.blink_components_highlight(ctx)
						end,
					},
				},
			}
		}
	},
	cmdline = {
		keymap = {
			preset = 'inherit',
			-- ['<space>'] = {
			-- 	function(cmp)
			-- 		local function fallback()
			-- 			vim.api.nvim_feedkeys(vim.api.nvim_replace_termcodes('<space>', true, false, true), 'n', true)
			-- 		end
			--
			-- 		if vim.tbl_contains({ ':', '@' }, vim.fn.getcmdtype()) and cmp.is_visible() then
			-- 			return cmp.accept { callback = fallback }
			-- 		end
			-- 		return fallback()
			-- 	end,
			-- },
		},
		completion = {
			menu = { auto_show = true },
			list = {
				selection = {
					preselect = false,
				},
			},
		},
	},
	signature = { enabled = true },
}

if not vim.fn.has 'nvim-0.11' then
	vim.lsp.config('*', {
		capabilities = require 'blink.cmp'.get_lsp_capabilities()
	})
end
'''
