[[plugins]]
repo = "kana/vim-operator-user"
[[plugins]]
repo = "kana/vim-textobj-user"
[[plugins]]
repo = "glts/vim-textobj-comment"
on_map = { ox = ["ic", "ac"] }
depends = "vim-textobj-user"
[[plugins]]
repo = "kana/vim-textobj-entire"
on_map = { ox = ["ae", "ie"] }
depends = "vim-textobj-user"
