[[plugins]]
repo = "iamcco/markdown-preview.nvim"
on_ft = ["markdown", "pandoc.markdown", "rmd"]
extAttrs.installerBuild = 'sh -c "cd app && npx --yes yarn install"'

[[plugins]]
repo = "mrcjkb/rustaceanvim"
on_ft = "rust"

[ftplugin]
erg = "setl et"
python = '''
let s:venv = finddir('.venv/..', expand('%:p:h').';')
if s:venv != ''
	let s:venv = s:venv . '/.venv/bin/python'
	" exe $"autocmd InsertEnter <buffer> ++once PyrightSetPythonPath {s:venv}/.venv/bin/python"
endif
'''
