[[plugins]]
repo = "gw31415/dpp-automkstate.nvim"
on_event = "BufWritePre"
lua_source = '''
require 'dpp-automkstate'.setup('~/.cache/dpp/', '~/.config/home-manager/nvim/dpp.ts')
require 'dpp-automkstate'.watch(vim.fn.stdpath 'config')
require 'dpp-automkstate'.watch(vim.fn.expand '~/.config/home-manager/nvim')
'''

[[plugins]]
repo = "kana/vim-operator-user"
[[plugins]]
repo = "kana/vim-textobj-user"
[[plugins]]
repo = "glts/vim-textobj-comment"
on_map = { ox = ["ic", "ac"] }
depends = "vim-textobj-user"
[[plugins]]
repo = "kana/vim-textobj-entire"
on_map = { ox = ["ae", "ie"] }
depends = "vim-textobj-user"
[[plugins]]
repo = "osyo-manga/vim-operator-stay-cursor"
on_func = "operator#stay_cursor#wrapper"
depends = "vim-operator-user"
hook_add = "map <expr> gq operator#stay_cursor#wrapper('gq')"

[[plugins]]
repo = "kdheepak/lazygit.nvim"
on_cmd = [
	"LazyGit",
	"LazyGitConfig",
	"LazyGitCurrentFile",
	"LazyGitFilter",
	"LazyGitFilterCurrentFile",
]
hook_add = "nnoremap gll <cmd>LazyGit<cr>"
hook_source = '''
let $VISUAL = $EDITOR
let $GIT_EDITOR = $EDITOR
'''

[[plugins]]
repo = "FabijanZulj/blame.nvim"
on_cmd = "BlameToggle"
hook_add = '''
nno <leader>b <cmd>BlameToggle<cr>
'''
lua_source = "require 'blame'.setup()"

[[plugins]]
repo = "gw31415/emjpick.vim"
on_cmd = "Emoji"
hook_add = '''
command! Emoji call emjpick#insert()
'''

[[plugins]]
repo = "ravitemer/mcphub.nvim"
extAttrs.installerBuild = "npm install -g mcp-hub@latest"
lua_source = '''
vim.system({ 'sh', '-c', [[
	TARGET_PATH="$HOME/.config/mcphub/servers.json"
	mkdir -p "$(dirname "$TARGET_PATH")"
	if [ ! -f "$TARGET_PATH" ]; then
	  echo '{"mcpServers": {}}' > "$TARGET_PATH"
	fi
]] }, {}):wait()
require 'mcphub'.setup()
'''

[[plugins]]
repo = "yetone/avante.nvim"
extAttrs.installerBuild = "make"
depends = "mcphub.nvim"
on_cmd = [
	"AvanteChat",
	"AvanteChatNew",
	"AvanteHistory",
	"AvanteClear",
	"AvanteEdit",
	"AvanteFocus",
	"AvanteRefresh",
	"AvanteStop",
	"AvanteSwitchProvider",
	"AvanteShowRepoMap",
	"AvanteToggle",
	"AvanteModels",
	"AvanteSwitchSelectorProvider",
]
lua_source = '''
require 'avante_lib'.load()
require 'avante'.setup {
	provider = 'openai',
	providers = {
		copilot = {
			model = 'claude-3.7-sonnet',
		},
		openai = {
			endpoint = 'https://api.openai.com/v1',
			model = 'gpt-4o',
			timeout = 30000,
			extra_request_body = {
				max_completion_tokens = 8192,
				temperature = 0,
			},
		},
		claude = {
			endpoint = "https://api.anthropic.com",
			model = "claude-sonnet-4-20250514",
			timeout = 30000,
			extra_request_body = {
				temperature = 0.75,
				max_tokens = 20480,
			},
		},
	},
	system_prompt = function()
		local hub = require 'mcphub'.get_hub_instance()
		return hub:get_active_servers_prompt()
	end,
	custom_tools = function()
		return {
			require 'mcphub.extensions.avante'.mcp_tool(),
		}
	end,
}
'''
