[[plugins]]
repo = "gukz/ftFT.nvim"
on_map = { n = ["f", "t", "F", "T"] }
lua_source = '''
vim.api.nvim_set_hl(0, 'ftFT', {
	ctermbg = 0,
	ctermfg = 15,
	bg = '#3b3f4c',
	underline = true,
})
require 'ftFT'.setup {
	hl_group = 'ftFT',
}
'''

[[plugins]]
repo = "kevinhwang91/nvim-ufo"
on_source = "nvim-treesitter"
on_lua = "ufo"
on_cmd = "loadview"
depends = "nvim-treesitter"
lua_source = '''
vim.o.foldlevel = 99
vim.o.foldlevelstart = 99
vim.o.foldenable = true
require 'ufo'.setup {
	provider_selector = function()
		return { 'treesitter', 'indent' }
	end,
	fold_virt_text_handler = function(virtText, lnum, endLnum, width, truncate)
		local newVirtText = {}
		local suffix = ('  ï’Œ %d '):format(endLnum - lnum)
		local sufWidth = vim.fn.strdisplaywidth(suffix)
		local targetWidth = width - sufWidth
		local curWidth = 0
		for _, chunk in ipairs(virtText) do
			local chunkText = chunk[1]
			local chunkWidth = vim.fn.strdisplaywidth(chunkText)
			if targetWidth > curWidth + chunkWidth then
				table.insert(newVirtText, chunk)
			else
				chunkText = truncate(chunkText, targetWidth - curWidth)
				local hlGroup = chunk[2]
				table.insert(newVirtText, { chunkText, hlGroup })
				chunkWidth = vim.fn.strdisplaywidth(chunkText)
				-- str width returned from truncate() may less than 2nd argument, need padding
				if curWidth + chunkWidth < targetWidth then
					suffix = suffix .. (' '):rep(targetWidth - curWidth - chunkWidth)
				end
				break
			end
			curWidth = curWidth + chunkWidth
		end
		table.insert(newVirtText, { suffix, 'MoreMsg' })
		return newVirtText
	end
}

vim.lsp.config('*', {
		textDocument = {
			foldingRange = {
				dynamicRegistration = false,
				lineFoldingOnly = true,
			},
		}
})
'''
