[[plugins]]
repo = "ravitemer/mcphub.nvim"
on_event = "CmdlineEnter" # Workaround to avoid error during avante.nvim loading. Why?
build = ["sh", "-c", '''
npm install -g mcp-hub@latest

TARGET_PATH="$HOME/.config/mcphub/servers.json"
mkdir -p "$(dirname "$TARGET_PATH")"
if [ ! -f "$TARGET_PATH" ]; then
  echo '{"mcpServers": {}}' > "$TARGET_PATH"
fi
''']
lua_after = "require 'mcphub'.setup()"

[[plugins]]
repo = "yetone/avante.nvim"
build = ["make"]
on_cmd = [
	"AvanteChat",
	"AvanteChatNew",
	"AvanteHistory",
	"AvanteClear",
	"AvanteEdit",
	"AvanteFocus",
	"AvanteRefresh",
	"AvanteStop",
	"AvanteSwitchProvider",
	"AvanteShowRepoMap",
	"AvanteToggle",
	"AvanteModels",
	"AvanteSwitchSelectorProvider",
]
lua_after = '''
require 'avante_lib'.load()
require 'avante'.setup {
	provider = 'openai',
	providers = {
		copilot = {
			model = 'claude-3.7-sonnet',
		},
		openai = {
			endpoint = 'https://api.openai.com/v1',
			model = 'gpt-4o',
			timeout = 30000,
			extra_request_body = {
				max_completion_tokens = 8192,
				temperature = 0,
			},
		},
		claude = {
			endpoint = "https://api.anthropic.com",
			model = "claude-sonnet-4-20250514",
			timeout = 30000,
			extra_request_body = {
				temperature = 0.75,
				max_tokens = 20480,
			},
		},
	},
	system_prompt = function()
		local hub = (require 'mcphub' or require 'mcphub').get_hub_instance()
		return hub:get_active_servers_prompt()
	end,
	custom_tools = function()
		return {
			require 'mcphub.extensions.avante'.mcp_tool(),
		}
	end,
}
'''
