[[plugins]]
repo = "ravitemer/mcphub.nvim"
[[plugins]]
repo = "yetone/avante.nvim"
build = ["make"]
on_cmd = [
	"AvanteChat",
	"AvanteChatNew",
	"AvanteHistory",
	"AvanteClear",
	"AvanteEdit",
	"AvanteFocus",
	"AvanteRefresh",
	"AvanteStop",
	"AvanteSwitchProvider",
	"AvanteShowRepoMap",
	"AvanteToggle",
	"AvanteModels",
	"AvanteSwitchSelectorProvider",
]
lua_after = '''
require 'avante_lib'.load()
require 'avante'.setup {
	provider = 'openai',
	providers = {
		copilot = {
			model = 'claude-3.7-sonnet',
		},
		openai = {
			endpoint = 'https://api.openai.com/v1',
			model = 'gpt-4o',
			timeout = 30000,
			extra_request_body = {
				max_completion_tokens = 8192,
				temperature = 0,
			},
		},
		claude = {
			endpoint = "https://api.anthropic.com",
			model = "claude-sonnet-4-20250514",
			timeout = 30000,
			extra_request_body = {
				temperature = 0.75,
				max_tokens = 20480,
			},
		},
	},
	system_prompt = function()
		local hub = require 'mcphub'.get_hub_instance()
		return hub:get_active_servers_prompt()
	end,
	custom_tools = function()
		return {
			require 'mcphub.extensions.avante'.mcp_tool(),
		}
	end,
}
'''

[[plugins]]
repo = "folke/sidekick.nvim"
on_event = "VeryLazy"
on_cmd = "Sidekick"
lua_after = '''
require 'sidekick'.setup {
	signs = {
		enabled = true,
		icon = "ï’¸",
	},
	cli = {
		mux = {
			backend = 'tmux',
			enabled = true,
		},
	},
	nes = { enabled = false },
}
vim.api.nvim_create_user_command('Sidekick', function(args)
	local model = args.fargs[1]
	require 'sidekick.cli'.toggle { focus = true, name = model }
end, {
	nargs = '?',
	complete = function()
		---@param a sidekick.cli.Tool
		---@return string[]
		return vim.tbl_map(function(a)
			return a.name
		end, require 'sidekick.cli'.get_tools {
			installed = true,
		});
	end,
})
vim.keymap.set('n', '<Tab>', function()
		if not require 'sidekick'.nes_jump_or_apply() then
			return '<Tab>'
		end
	end,
	{
		expr = true,
		desc = 'Goto/Apply Next Edit Suggestion',
	}
)
'''
