[[plugins]]
repo = "gw31415/extend_word_motion.nvim"
on_map = ["w", "b", "e", "ge"]
lua_after = "require 'extend_word_motion'.setup{}"

[[plugins]]
repo = "gw31415/scrollUptoLastLine.vim"
on_map = { nivxo = '<MouseUp>' }
lua_after = "vim.keymap.set({'', 'i'}, '<S-MouseUp>', '<Nop>')"

[[plugins]]
repo = "monaqa/dial.nvim"
on_map = { nx = ["<C-a>", "<C-x>", "g<C-a>", "g<C-x>"] }
lua_after = '''
vim.keymap.set({ 'n', 'x' }, '<C-a>', '<Plug>(dial-increment)', { desc = 'Increment using dial' })
vim.keymap.set({ 'n', 'x' }, '<C-x>', '<Plug>(dial-decrement)', { desc = 'Decrement using dial' })
vim.keymap.set({ 'n', 'x' }, 'g<C-a>', '<Plug>(dial-g-increment)', { desc = 'Increment using dial' })
vim.keymap.set({ 'n', 'x' }, 'g<C-x>', '<Plug>(dial-g-decrement)', { desc = 'Decrement using dial' })

local augend = require 'dial.augend'
require 'dial.config'.augends:register_group {
	default = {
		augend.integer.alias.decimal,
		augend.semver.alias.semver,
		augend.integer.alias.hex,
		augend.constant.alias.bool,
		augend.date.alias['%Y/%m/%d'],
		augend.date.alias['%Y-%m-%d'],
	},
}
'''

[[plugins]]
repo = "gukz/ftFT.nvim"
on_map = { n = ["f", "t", "F", "T"] }
lua_after = '''
vim.api.nvim_set_hl(0, 'ftFT', {
	ctermbg = 0,
	ctermfg = 15,
	bg = '#3b3f4c',
	underline = true,
})
require 'ftFT'.setup {
	hl_group = 'ftFT',
}
'''

[[plugins]]
repo = "lambdalisue/vim-gf-improved"
on_map = { nxo = ["gf", "gF", "<C-w>f", "<C-w>F", "<C-w>gf", "<C-w>gF"] }

[[plugins]]
repo = "lambdalisue/vim-file-protocol"
on_cmd = ["BufReadCmd", "FileReadCmd"]

[[plugins]]
repo = "kevinhwang91/nvim-bqf"
on_ft = "qf"
lua_after = '''
require 'bqf'.setup {
	auto_enable = true,
	auto_resize_height = true,
	func_map = {
		open = '<cr>',
		openc = '',
		drop = '<s-cr>',
		tabdrop = '',
		tab = '',
		tabb = '',
		tabc = '',
		split = '',
		vsplit = '',
		prevfile = '',
		nextfile = '',
		prevhist = '',
		nexthist = '',
		lastleave = '',
		stoggleup = '',
		stoggledown = '',
		stogglevm = '',
		stogglebuf = '',
		sclear = '',
		pscrollup = '<C-b>',
		pscrolldown = '<C-f>',
		pscrollorig = '',
		ptogglemode = '',
		ptoggleitem = '',
		ptoggleauto = '',
		filter = '',
		filterr = '',
		fzffilter = '',
	}
}
'''

[[plugins]]
repo = "stevearc/quicker.nvim"
on_ft = "qf"
lua_after = '''
require 'quicker'.setup {
	keys = {
		{ '>', "<cmd>lua require('quicker').expand()<CR>",   desc = 'Expand quickfix content' },
		{ '<', "<cmd>lua require('quicker').collapse()<CR>", desc = 'Collapse quickfix content' },
	},
	type_icons = {
		E = "󰅚 ",
		W = "",
		I = "",
		N = "󰛿",
		H = "",
	},
}
'''

[[plugins]]
repo = "delphinus/cellwidths.nvim"
on_event = "UIEnter"
lua_after = '''
---@diagnostic disable: missing-return, missing-fields
require 'cellwidths'.setup { name = 'cica' }
vim.cmd [[ CellWidthsAdd 0xE0B6, 1 ]]
'''

[[plugins]]
repo = "Darazaki/indent-o-matic"
on_event = ["BufReadPost", "BufNewFile", "BufAdd"]
on_cmd = "IndentOMatic"
lua_after = '''
require 'indent-o-matic'.setup{ standard_width = { 2, 4 } }
'''

[[plugins]]
repo = "hrsh7th/nvim-insx"
on_event = "InsertEnter"
lua_after = '''
require 'insx.preset.standard'.setup()
local insx = require 'insx'

insx.add(
	"'",
	insx.with({
		enabled = function(ctx)
			local before_borrowing = ctx.match([=[&\%#]=])
			local in_type_parameters = false

			local node = vim.treesitter.get_node({ pos = { ctx.row(), ctx.col() } })

			if not node then
				return true
			end

			while node do
				-- print(node:type())
				if
					vim.tbl_contains({
						'trait_bounds',
						'type_arguments',
						'type_parameters',
						-- あんまりこれは関係なくて、tree-sitterの仕様上?
						-- A: |,
						-- のように,がないとtrait_bounds判定にならない
						-- TODO:
						'where_clause',
					}, node:type())
				then
					in_type_parameters = true
					break
				end
				node = node:parent()
			end

			-- print(before_borrowing)
			-- print(in_type_parameters)

			return in_type_parameters or before_borrowing
		end,
		action = function(ctx)
			ctx.send("'")
		end,
		priority = 1000,
	}, {
		insx.with.filetype({ 'rust' }),
	})
)
'''

[[plugins]]
repo = "icholy/lsplinks.nvim"
on_map = { n = "gx" }
lua_after = '''
local lsplinks = require 'lsplinks'
lsplinks.setup()
vim.keymap.set('n', 'gx', lsplinks.gx, { desc = 'Open the links' })
'''

[[plugins]]
repo = "gw31415/mkdir.vim"
on_event = "BufWritePre"
