
[[plugins]]
repo = "Kaiser-Yang/blink-cmp-git"

[[plugins]]
repo = "fang2hou/blink-copilot"
lua_after = '''
require 'blink-copilot'.setup {
	max_completions = 3,
	max_attempts = 7,
}
'''

[[plugins]]
repo = "disrupted/blink-cmp-conventional-commits"

[[plugins]]
repo = "Kaiser-Yang/blink-cmp-avante"

[[plugins]]
repo = "saghen/blink.cmp@v1.*"
depends = [
	"blink-copilot",
	"blink-cmp-git",
	"blink-cmp-conventional-commits",
	"blink-cmp-avante",
]
on_event = ["InsertEnter", "CmdlineEnter", "LspAttach"]
build = ["cargo", "build", "--release"]
lua_after = '''
require 'blink.cmp'.setup {
	sources = {
		default = { 'snippets', 'lsp', 'copilot', 'path', 'buffer' },
		per_filetype = {
			markdown = { 'snippets', 'lsp', 'copilot', 'path' },
			txt = { 'snippets', 'lsp', 'copilot', 'path' },
			typst = { 'snippets', 'lsp', 'copilot', 'path' },
			tex = { 'snippets', 'lsp', 'copilot', 'path' },
			lua = { inherit_defaults = true, 'lazydev' },
			gitcommit = { inherit_defaults = true, 'git', 'conventional_commits' },
			AvanteInput = { inherit_defaults = true, 'avante' },
		},
		providers = {
			copilot = {
				name = 'copilot',
				module = 'blink-copilot',
				score_offset = -100,
				async = true,
			},
			lazydev = {
				name = 'LazyDev',
				module = 'lazydev.integrations.blink',
				score_offset = 100,
			},
			git = {
				module = 'blink-cmp-git',
				name = 'Git',
			},
			conventional_commits = {
				name = 'Conventional Commits',
				module = 'blink-cmp-conventional-commits',
				opts = {},
			},
			avante = {
				module = 'blink-cmp-avante',
				name = 'Avante',
				opts = {},
			},
		},
	},
	keymap = { preset = 'super-tab' },
	completion = {
		documentation = { auto_show = true, auto_show_delay_ms = 100 },
		menu = {
			draw = {
				components = {
					label = {
						text = function(ctx)
							return require 'colorful-menu'.blink_components_text(ctx)
						end,
						highlight = function(ctx)
							return require 'colorful-menu'.blink_components_highlight(ctx)
						end,
					},
				},
			}
		}
	},
	cmdline = {
		keymap = {
			preset = 'inherit',
			-- ['<space>'] = {
			-- 	function(cmp)
			-- 		local function fallback()
			-- 			vim.api.nvim_feedkeys(vim.api.nvim_replace_termcodes('<space>', true, false, true), 'n', true)
			-- 		end
			--
			-- 		if vim.tbl_contains({ ':', '@' }, vim.fn.getcmdtype()) and cmp.is_visible() then
			-- 			return cmp.accept { callback = fallback }
			-- 		end
			-- 		return fallback()
			-- 	end,
			-- },
		},
		completion = {
			menu = { auto_show = true },
			list = {
				selection = {
					preselect = false,
				},
			},
		},
	},
	signature = { enabled = true },
}

if not vim.fn.has 'nvim-0.11' then
	vim.lsp.config('*', {
		capabilities = require 'blink.cmp'.get_lsp_capabilities()
	})
end
'''
