[[plugins]]
repo = "A7Lavinraj/fyler.nvim@stable"
with = "mini.icons"
on_cmd = "Fyler"
on_map = { n = '<c-n>' }
lua_after = '''
require 'fyler'.setup {
	views = {
		finder = {
			delete_to_trash = true,
			mappings = {
				gx = function(finder)
					-- Open with system default application
					vim.ui.open(finder:cursor_node_entry().path)
				end,
				["<CR>"] = "Select",
				["<Esc>"] = "CloseView",
				zM = "CollapseAll",
				zc = "CollapseNode",
				za = function(finder)
					-- Toggle node
					local entry = finder:cursor_node_entry()
					if entry:isdir() then
						finder:exec_action "n_select"
					else
						finder:exec_action "n_collapse_node"
					end
				end,
				["<c-h>"] = "GotoParent",
				gf = function(finder)
					-- Open file or goto directory
					local entry = finder:cursor_node_entry()
					if entry:isdir() then
						finder:exec_action "n_goto_node"
					else
						finder:exec_action "n_select"
					end
				end,
				["="] = "GotoCwd",
				cx = "GotoNode",

				-- Disabled mappings
				q = false,
				["<C-t>"] = false,
				-- ["<C-t>"] = "SelectTab",
				["|"] = false,
				-- ["|"] = "SelectVSplit",
				["-"] = false,
				-- ["-"] = "SelectSplit",
				["^"] = false,
				["."] = false,
				["#"] = false,
				["<BS>"] = false,
			}
		}
	},
}

vim.api.nvim_create_autocmd('FileType', { pattern = 'fern', command = 'setl sw=0' })
vim.keymap.set('n', '<c-n>', function() require 'fyler'.toggle { kind = "float" } end, { desc = "Toggle Fyler View" })
'''

[[plugins]]
repo = "lambdalisue/nerdfont.vim"
[[plugins]]
repo = "lambdalisue/fern-renderer-nerdfont.vim"
with = "nerdfont.vim"
[[plugins]]
repo = "lambdalisue/fern-git-status.vim"
[[plugins]]
repo = "lambdalisue/fern-mapping-git.vim"
[[plugins]]
repo = "lambdalisue/fern-mapping-project-top.vim"
[[plugins]]
repo = "andykog/fern-highlight.vim"

[[plugins]]
repo = "lambdalisue/vim-fern"
with = [
	"fern-renderer-nerdfont.vim",
	"fern-git-status.vim",
	"fern-mapping-git.vim",
	"fern-highlight.vim",
]
on_cmd = "Fern"
# TODO: なぜかエラーが出る
# on_map = { n = '<c-n>' }
lua_after = '''
vim.api.nvim_set_var('fern#renderer', 'nerdfont')
vim.api.nvim_set_var('fern#renderer#nerdfont#indent_markers', 1)
vim.api.nvim_create_autocmd('FileType', {
	pattern = 'fern',
	callback = function()
		local opts = { buffer = true }
		vim.keymap.set('n', 'K', '<Plug>(fern-action-new-dir)', { buffer = true, desc = 'Fern: create new dir' })
		vim.keymap.set('n', 'ZZ', '<cmd>close<cr>', { buffer = true, desc = 'Fern: close the buffer' })
		vim.keymap.set('n', 'ZQ', '<cmd>quit<cr>', { buffer = true, desc = 'Fern: quit' })
		vim.opt_local.number = false
	end,
})
vim.fn['fern_git_status#init']()
'''
