[[plugins]]
repo = "nvim-lualine/lualine.nvim"
on_event = "UIEnter"
lua_after = '''
--------------------------------------------------------------------------------
-- Global Functions used in Statusline
--------------------------------------------------------------------------------

local macro_state = {
	---@return string
	function()
		local key = vim.fn.reg_recording()
		return key ~= '' and ('MACRO:' .. key) or ''
	end,
	color = { bg = 'red', fg = 'black', gui = 'bold' }
}

local search_count = {
	---@return string
	function()
		if vim.v.hlsearch == 0 then
			return ''
		end
		local count = vim.fn.searchcount { recompute = 1, maxcount = 999 }
		local current = count.current
		local total = count.total
		return current ~= 0 and string.format('%d/%d', current, total) or ''
	end,
	color = { fg = 'orange' },
}

---@return string
local function indent()
	return '' .. (vim.bo.expandtab and vim.bo.shiftwidth .. ' 󱁐' or vim.bo.tabstop .. ' ')
end

local sidekick = {
	function()
		return ''
	end,
	color = function()
		local status = require 'sidekick.status'.get()
		if status then
			return status.kind == "Error" and "DiagnosticError" or status.busy and "DiagnosticWarn" or nil
		end
	end,
	cond = function()
		local status = require 'sidekick.status'
		return status.get() ~= nil
	end,
}

require 'lualine'.setup {
	sections = {
		lualine_b = { macro_state, 'branch', 'diff', 'diagnostics' },
		lualine_c = { 'filename', sidekick },
		lualine_x = { 'encoding', 'fileformat', indent, 'filetype' },
		lualine_y = { 'progress', search_count },
	},
	refresh = {
		events = {
			'WinEnter',
			'BufEnter',
			'BufWritePost',
			'SessionLoadPost',
			'FileChangedShellPost',
			'VimResized',
			'Filetype',
			'CursorMoved',
			'CursorMovedI',
			'ModeChanged',
			'RecordingEnter',
			'RecordingLeave',
		},
	}
}
'''

[[plugins]]
repo = "nvim-treesitter/nvim-treesitter"
# build = ["nvim", "--headless", "-c", "TSUpdateSync | quit"] # TODO: 代替方法を考える
on_event = "VimEnter"
lua_after = '''
-- markdown treesitter のPluginの有効化
vim.fn.setenv('EXTENSION_WIKI_LINK', 1)

local parser_install_dir = vim.fn.stdpath 'data' .. '/treesitter'
vim.opt.runtimepath:append(parser_install_dir)
require 'nvim-treesitter.configs'.setup {
	sync_install = false,
	ignore_install = {},
	modules = {},
	parser_install_dir = parser_install_dir,
	highlight = {
		enable = true,
		additional_vim_regex_highlighting = { 'markdown', 'edisch' },
		disable = { 'vimdoc' },
	},
	indent = {
		enable = true,
		disable = { 'dart', 'vimdoc' },
	},
	auto_install = true,
	ensure_installed = { 'query', 'markdown', 'markdown_inline', 'lua', 'vim' },
}
'''

[[plugins]]
repo = "kevinhwang91/nvim-ufo"
# on_source = "nvim-treesitter"
on_event = ["BufAdd", "VimEnter", "UIEnter"]
# on_cmd = "loadview" # 効いているのか謎
depends = "nvim-treesitter"
lua_after = '''
vim.o.foldlevel = 99
vim.o.foldlevelstart = 99
vim.o.foldenable = true
require 'ufo'.setup {
	provider_selector = function()
		return { 'treesitter', 'indent' }
	end,
	fold_virt_text_handler = function(virtText, lnum, endLnum, width, truncate)
		local newVirtText = {}
		local suffix = ('   %d '):format(endLnum - lnum)
		local sufWidth = vim.fn.strdisplaywidth(suffix)
		local targetWidth = width - sufWidth
		local curWidth = 0
		for _, chunk in ipairs(virtText) do
			local chunkText = chunk[1]
			local chunkWidth = vim.fn.strdisplaywidth(chunkText)
			if targetWidth > curWidth + chunkWidth then
				table.insert(newVirtText, chunk)
			else
				chunkText = truncate(chunkText, targetWidth - curWidth)
				local hlGroup = chunk[2]
				table.insert(newVirtText, { chunkText, hlGroup })
				chunkWidth = vim.fn.strdisplaywidth(chunkText)
				-- str width returned from truncate() may less than 2nd argument, need padding
				if curWidth + chunkWidth < targetWidth then
					suffix = suffix .. (' '):rep(targetWidth - curWidth - chunkWidth)
				end
				break
			end
			curWidth = curWidth + chunkWidth
		end
		table.insert(newVirtText, { suffix, 'MoreMsg' })
		return newVirtText
	end
}

vim.lsp.config('*', {
		textDocument = {
			foldingRange = {
				dynamicRegistration = false,
				lineFoldingOnly = true,
			},
		}
})
'''
